body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  display: flex;
  justify-content: space-between;
}

header nav{
  width: 60%;
  background-color: #7EDAD2;
  padding: 20px;
}

header figure{
  padding: 20px;
}

header nav ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  padding: 5px;
}

header nav ul li a{
  text-decoration: none;
  color: black;
}