body{
  font-family: 'Poppins', sans-serif;
  background-image: url(/img/hero@2x.jpg);
  background-position: top right 0px;
  background-size: 1000px;
  background-repeat: no-repeat;
}


.page{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
/* HEADER */

header{
  display: flex;
  justify-content: space-between;
  margin: 0;
}

header nav ul{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: 56px;
}

header a{
  text-decoration: none;
  font-size: 20px;
  color: black;
}

/* HERO */

.hero h1{
  font-size: 70px;
  font-family: 'Bebas Neue', sans-serif;
  color: #424241;
  margin-bottom: 0;
}

.hero h1 span{
  color: #7EDAD2;
}

.hero p{
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  color: #78CAC3
}

button{
  background-color: #7EDAD2;
  padding:20px;
  font-size: 18px;
  border: 0px;
  color: white;
  width: 180px;
}